.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 77px; 
  height: 33px; 
  border-radius: 30px;
  overflow: hidden;
  border: none;
}

/* إخفاء الـ checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* السلايدر */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  transition: 0.4s;
}

/* عند استخدام صورة */
.image-slider {
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

/* إخفاء النجوم والسحاب */
.star,
.cloud {
  display: none;
}
